 
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">
  <title>{% block title %}{% endblock %}</title>
  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" {% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href=" {% static 'main/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href=" {% static 'main/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href=" {% static 'main/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href=" {% static 'main/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href=" {% static 'main/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href=" {% static 'main/vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <!-- Template Main CSS File -->
<link href="{% static 'main/css/style.css' %}" rel="stylesheet">
   <link rel="stylesheet" href=" {% static 'main/css/login.css' %}">
   <!-- <link rel="stylesheet" href=" {% static 'css/chat.css' %}"> -->
   <link rel="stylesheet" href=" {% static 'main/css/main.css' %}">
   <!-- <link rel="stylesheet" href=" {% static 'css/tab.css' %}"> -->
   <!-- <link rel="stylesheet" href=" {% static 'css/chat1.css' %}"> -->
  {% block style %}{% endblock %}
  
</head>
<body>



    <header>
         {% block header %}

         {% endblock %}
    </header>
   <aside>
    {% block aside %}

    {% endblock %}
   </aside>
    <main>
        {% block content %}{% endblock %}
    </main>
   <!-- Vendor JS Files -->
  <!--  -->
  <script src="{% static 'main/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- <script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script> -->
  <!-- <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script> -->
  <!-- <script src="{% static 'vendor/quill/quill.min.js' %}"></script> -->
  <!-- <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script> -->
  <!-- <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script> -->
  <!-- <script src="{% static 'vendor/php-email-form/validate.js' %}"></script> -->
  <!-- Template Main JS File -->

  <script src="{% static 'main/js/main.js' %}"></script> 
  <script src="{% static 'signup/js/plugin/jquery/query.min.js' %}"></script>
<script src="{% static 'signup/js/jquery.3.js' %}"></script> 
<!-- <script src="{% static 'signup/js/app.js' %}"></script>  -->
<!-- <script src="{% static 'signup/js/plugin/jquery-3.4.1.min.js' %}"></script>  -->
<!-- <script src="{% static 'signup/js/plugin/material-floating-button/dist/mfb.min.js' %}"></script>  -->
<!-- <script src="{% static 'signup/js/plugin/OwlCarousel2/owl.carousel.min.js' %}"></script> -->
<!-- <script src="{% static 'signup/js/plugin/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>  -->

{% block script %}{% endblock %}

</body>
</html>
