{% extends 'base.html' %}


{% block header %}
{% include 'header.html'  %}
{% endblock %}

{% block aside %}
{% include 'side.html'  %}
{% endblock %}

  {% block content %}



<main id="main" class="main">

    <!-- <div class="pagetitle">
      <h1>Leads</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Leads</li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
      </nav> -->
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="d-flex justify-content-between container-fluid m-3">
           <div class="row">
               <div class="col-4"><h2 class="pagetitle">Leads</h2></div>
               <div class="col-4"> <i class="ri-group-2-fill"></i><span>420 Contacts</span></div>
               <div class="col-4">
                <div class="search-bar">
                  <form class="search-form d-flex align-items-center" method="POST" action="#">
                    <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                    <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                  </form>
                </div><!-- End Search Bar -->
               </div>
           </div>
           <div class="row gap-0 ">
               <div class="col-4">
              <button type="button" class="btn btn-outline-danger" style="font-size: 14px;">Action</button>

               </div>
               <div class="col-4">
              <button type="button" class="btn btn-outline-warning" style="font-size: 14px;">Documents</button>
                
               </div>
               <div class="col-4 ">  
                <button type="button" class="btn btn-success" style="font-size: 14px;">Contacts</button>

                 </div>
           </div>

            </div>
            <div class="card-body">
              <!-- Table with stripped rows -->
              <table class="table table-light ">
                <thead class="">
                  <tr>
                    <th scope="col" >1</th>
                    <th scope="col" class="lead">FullName</th>
                    <th scope="col" class="lead">Location</th>
                    <th scope="col" class="lead">Company</th>
                    <th scope="col" class="lead">Segment</th>
                    <th scope="col" class="lead">Last active</th>
                    <th scope="col" class="lead">Score</th>
                    <th scope="col" class="lead">Action</th>
                  </tr>
                </thead>
                <tbody class="">
                  
                  <tr>
                    <tr>
                      <th scope="row"><input type="checkbox" name="" id=""></th>
                      <td>
                        <div class="row">
                       <div class="col-12">bra jhon</div>
                       <div class="col-12" style="font-size: 9px;">email@john.com</div>
                      </div>
                    </td>
                      <td>
                        <div class="row">
                       <div class="col-12">Spring Hill</div>
                       <div class="col-12" style="font-size: 9px;"> <i class="ri-flag-2-fill"></i>united state</div>
                      </div>
                      </td>
                      <td><h6 class="leads">broded</h6></td>
                      <td><span class="badge bg-warning text-dark">Chats</span></td>
                      <td><p class="leads" style="font-size: 9px;">2 min ago</p></td>
                      <td>
                        <i class="ri-star-half-s-fill" style="color: rgb(189, 113, 189); font-size:27px ;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                      </td>
                      <td><i class="ri-edit-2-fill" style="color: rgb(230, 181, 230); font-size: 27px;"></i></td>
                  </tr>

                  <tr>
                    <tr>
                      <th scope="row"><input type="checkbox" name="" id=""></th>
                      <td>
                        <div class="row">
                       <div class="col-12">bra jhon</div>
                       <div class="col-12" style="font-size: 9px;">email@john.com</div>
                      </div>
                    </td>
                      <td>
                        <div class="row">
                       <div class="col-12">Spring Hill</div>
                       <div class="col-12" style="font-size: 9px;"> <i class="ri-flag-2-fill"></i>united state</div>
                      </div>
                      </td>
                      <td><h6 class="leads">broded</h6></td>
                      <td><span class="badge bg-warning text-dark">Chats</span></td>
                      <td><p class="leads" style="font-size: 9px;">2 min ago</p></td>
                      <td>
                        <i class="ri-star-half-s-fill" style="color: rgb(189, 113, 189); font-size:27px ;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                      </td>
                      <td><i class="ri-edit-2-fill" style="color: rgb(230, 181, 230); font-size: 27px;"></i></td>
                  </tr>
                  <tr>
                    <tr>
                      <th scope="row"><input type="checkbox" name="" id=""></th>
                      <td>
                        <div class="row">
                       <div class="col-12">bra jhon</div>
                       <div class="col-12" style="font-size: 9px;">email@john.com</div>
                      </div>
                    </td>
                      <td>
                        <div class="row">
                       <div class="col-12">Spring Hill</div>
                       <div class="col-12" style="font-size: 9px;"> <i class="ri-flag-2-fill"></i>united state</div>
                      </div>
                      </td>
                      <td><h6 class="leads">broded</h6></td>
                      <td><span class="badge bg-warning text-dark">Chats</span></td>
                      <td><p class="leads" style="font-size: 9px;">2 min ago</p></td>
                      <td>
                        <i class="ri-star-half-s-fill" style="color: rgb(189, 113, 189); font-size:27px ;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                      </td>
                      <td><i class="ri-edit-2-fill" style="color: rgb(230, 181, 230); font-size: 27px;"></i></td>
                  </tr>
                  <tr>
                    <tr>
                      <th scope="row"><input type="checkbox" name="" id=""></th>
                      <td>
                        <div class="row">
                       <div class="col-12">bra jhon</div>
                       <div class="col-12" style="font-size: 9px;">email@john.com</div>
                      </div>
                    </td>
                      <td>
                        <div class="row">
                       <div class="col-12">Spring Hill</div>
                       <div class="col-12" style="font-size: 9px;"> <i class="ri-flag-2-fill"></i>united state</div>
                      </div>
                      </td>
                      <td><h6 class="leads">broded</h6></td>
                      <td><span class="badge bg-warning text-dark">Chats</span></td>
                      <td><p class="leads" style="font-size: 9px;">2 min ago</p></td>
                      <td>
                        <i class="ri-star-half-s-fill" style="color: rgb(189, 113, 189); font-size:27px ;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                      </td>
                      <td><i class="ri-edit-2-fill" style="color: rgb(230, 181, 230); font-size: 27px;"></i></td>
                  </tr>
                  <tr>
                    <tr>
                      <th scope="row"><input type="checkbox" name="" id=""></th>
                      <td>
                        <div class="row">
                       <div class="col-12">bra jhon</div>
                       <div class="col-12" style="font-size: 9px;">email@john.com</div>
                      </div>
                    </td>
                      <td>
                        <div class="row">
                       <div class="col-12">Spring Hill</div>
                       <div class="col-12" style="font-size: 9px;"> <i class="ri-flag-2-fill"></i>united state</div>
                      </div>
                      </td>
                      <td><h6 class="leads">broded</h6></td>
                      <td><span class="badge bg-warning text-dark">Chats</span></td>
                      <td><p class="leads" style="font-size: 9px;">2 min ago</p></td>
                      <td>
                        <i class="ri-star-half-s-fill" style="color: rgb(189, 113, 189); font-size:27px ;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                      </td>
                      <td><i class="ri-edit-2-fill" style="color: rgb(230, 181, 230); font-size: 27px;"></i></td>
                  </tr>
                  <tr>
                    <tr>
                      <th scope="row"><input type="checkbox" name="" id=""></th>
                      <td>
                        <div class="row">
                       <div class="col-12">bra jhon</div>
                       <div class="col-12" style="font-size: 9px;">email@john.com</div>
                      </div>
                    </td>
                      <td>
                        <div class="row">
                       <div class="col-12">Spring Hill</div>
                       <div class="col-12" style="font-size: 9px;"> <i class="ri-flag-2-fill"></i>united state</div>
                      </div>
                      </td>
                      <td><h6 class="leads">broded</h6></td>
                      <td><span class="badge bg-warning text-dark">Chats</span></td>
                      <td><p class="leads" style="font-size: 9px;">2 min ago</p></td>
                      <td>
                        <i class="ri-star-half-s-fill" style="color: rgb(189, 113, 189); font-size:27px ;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                        <i class="ri-star-half-s-fill" style="color: purple; font-size: 27px;"></i>
                      </td>
                      <td><i class="ri-edit-2-fill" style="color: rgb(230, 181, 230); font-size: 27px;"></i></td>
                  </tr>
                  
                 
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
  {% endblock %}
