<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item" id="test">
        <a class="nav-link " id="" href="{%  url 'signup:home' %}">
          <i class="bi bi-grid"></i>
          <span id="">Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

  
      <!-- <li class="nav-heading">Pages</li> -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{%  url 'signup:chat' %}">
          <i class="bi bi-person"></i>
          <span id="ch">Chats</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
      <a class="nav-link collapsed" href="{%  url 'signup:bot' %}">
          <i class="bi bi-question-circle"></i>
          <span>Bots</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{%  url 'signup:lead' %}">
          <i class="bi bi-envelope"></i>
          <span>Leads</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{%  url 'signup:setting' %}">
          <i class="bi bi-gear"></i>
          <span>Settings</span>
        </a>
      </li><!-- End Register Page Nav -->

      
      <li class="nav-item">
        <a class="nav-link collapsed" href="{%  url 'signup:set_app' %}">
          <i class="bi bi-gear"></i>
          <span>App Settings</span>
        </a>
      </li><!-- End Register Page Nav -->
     
      <!-- <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Customization</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="">
              <i class="bi bi-circle"></i><span>Domain</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="bi bi-circle"></i><span>APP Setting</span>
            </a>
          </li>
        </ul>
      </li> -->

     
    </ul>

  </aside><!-- End Sidebar-->