
{% extends 'base.html' %}

{% block title %} signup {% endblock %}
 {% block header %}
 {% endblock %}
 {% block aside %}
 {% endblock %}

{% block content %}
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="" class="logo d-flex align-items-center w-auto">
                    {% load static %}
                  <img src="{% static 'img/first-chat.png' %}" alt="" style="width: 150px;">
                  <span class="d-none d-lg-block"></span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create Blog</h5>
                    <p class="text-center small">create an article </p>
                  </div>
                  {% if msg %}
                  <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
                    {{msg}}
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                    {% endif %}

                  <form  method= "POST" class="row g-3 needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="col-12">
                      <label for="yourName" class="form-label">create title</label>
                      <input type="text" name="title" class="form-control" id="yourName" required>
                      <div class="invalid-feedback">create, title for blog post!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">write text</label>
                      <input type="text" name="message" class="form-control" id="yourEmail" required>
                      <div class="invalid-feedback">write article for your blog post!</div>
                    </div>

                   
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Article</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="{% url 'signup:login' %}">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>

             

            </div>
          </div>
        </div>

      </section>

    </div>

  {% endblock %}

</body>
</html>